<%# Banner %>
<div class="screen-container">
  <div class="screen" style="background-image: url(https://bloximages.newyork1.vip.townnews.com/postandcourier.com/content/tncms/assets/v3/editorial/4/2d/42dc4af0-4e98-11ea-8082-0756bdf62c12/5e45a57530a40.image.jpg?resize=1000%2C562);">
    <div class="container col-4">
      <h2 class="movie-credit text-center">A LIST BY NAMKHING</h1>
      <h1 class="movie-title text-center">Watch list</h1>
    </div>
    <%= link_to "- Create your new list here", new_list_path, class: "subtitle" %>
  </div>
</div>

<%# Lists  %>
<div class="list-container d-flex flex-wrap">
    <% @lists.each do |list| %>
      <div class="list-card flex-fill col-6 p-2">
        <%# List cover %>
        <% if list.photo.attached? %>
          <%= cl_image_tag list.photo.key %>
        <% else %>
          <%= image_tag 'https://source.unsplash.com/UBhpOIHnazM'%>
        <% end %>
         <%# List name %>
        <%= link_to "- #{list.name}", list_path(list), class: "subtitle"%>
        <%# Movie list %>
        <div class="list-info d-inline-flex">
          <% list.bookmarks.each do |bookmark| %>
            <%= "#{bookmark.movie.title} • " %>
          <% end %>
        </div>
      </div>
    <% end %>
</div>

<%# Footer %>
<div class="footer">
  <%= cl_image_tag("image_2_e9eqgc") %>
  <p>Le Wagon © 2021</p>

</div>
